<h1>Profile page</h1>

<img src="{{currentUser.image}}" alt="User picture">
<h2>{{currentUser.user}} </h2>
<h2>{{currentUser.name}} </h2>
<h2>{{currentUser.lastName}} </h2>
<h2>{{currentUser.birthdate}} </h2>
<h2>{{currentUser.email}} </h2>
