<div href="/trips/{{trip.id}}" class="nav-link">
  
  <div class="d-flex border-bottom border-secondary-emphasis border-5">
    <div>
      <h6 class="mb-2 text-muted">{{trip.date}}</h6>
    </div>
    <div>
      <h6 class="card-subtitle mb-2 text-muted">{{trip.from}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{trip.to}}</h6>
    </div>
  </div>
  
</div>
  <h6 class="mb-2 text-muted d-block border-bottom border-secondary-emphasis border-5">Importe total para un pasajero {{trip.price}}€</h6>
  <h6 class="mb-2 text-muted d-block">{{trip.user.user}}</h6>


{{#isOwnedBy trip currentUser}}

<a href="/trips/edit/{{../trip.id}}"><button type="submit" class="btn btn-primary">Edit Trip</button></a>

<form action="/trips/delete/{{../trip.id}}" method="POST">
<button type="submit" class="btn btn-danger">Delete Trip</button>
</form>

{{/isOwnedBy}}

<a class="publish btn btn-primary rounded-pill text-white mb-5 border-0 fw-normal"
  href="/trips/book/{{trip.id}}">Continue
</a>